@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  /*font-family: 'Montserrat';*/
}

@media print {
  body{
    margin: 0px !important;
  }
  a{
    text-decoration: none;
  }
}
@page{
  margin: 2cm 1.5cm;
}

select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  padding: 4px 0;
  width: 100%;
}

.customer-type-button{

  border: 1px #d3d3e0 solid;

  text-align: center;

  cursor: pointer;

  font-size: 15px;

  padding-top: 36px;

  padding-bottom: 36px;

}

.customer-type-button:last-child{
  margin-left: 10px;
  margin-right: 10px;
}


.customer-type-button.selected{

  color: white;

  background-color: #0052CC;

}



.full-width{

  max-width: 100%;

  flex: 0 0 100%;

}



.customer-category-add-button{

  position: absolute;

    right: 0.75rem;

    bottom: 0.30rem;

    padding: 0.2rem 0.5rem;

    margin-top: 5px;

    cursor: pointer;

}



.timeline-title h2 span{

  font-size: 20px !important;

}

@media (max-width: 575.98px) {

  .myBtn{

    width: 100%;

    height: 100%;

    font-size: 10px



  }





}
/*Dashboard */

.panel {
    margin: 10px 0px 10px 0px;
    border-radius: 4px;
}
.panel-body{ padding: 22px;}
   
.panel-body.member {
    background-color: #33CC33;
    height: 155px;
}

.panel-body.staff-member {
    background-color: #0099FF;
    height: 155px;
}

.panel-body.group {
    background-color: #FF1A1A;
    height: 155px;
}

.panel-body.message {
    background-color: #FFB209;
    height: 155px;
}

.info-box .info-box-stats p {
  margin-bottom: 1px;
    font-size: 15px;
    color: #374051;
    font-weight: 600;
}
img.dashboard_background {
    margin-top: 4px;
  }
 
.info-box .info-box-stats {
    position: relative;
}

.info-box .info-box-stats {
    margin-top: 8px !important;
    width: 100%;
  
}
.info-box-stats p {
    color: #F9FDFB !important;
}

.panel{border:none;}
.info-box .panel-body img {
    transition: all 0.3s ease 0s; 
}
.info-box .info-box-stats span.info-box-title {
  line-height: 13px;
    display: block;
    font-size: 13px;
   margin-left: 6px;
    color: #B0B0B0;
}
.info-box-stats .info-box-title {
    color: #f9fdfb !important;
    display: inline-block !important;
}
.info-box:hover .panel-body img {
    transform: scale(1.2);
}
.panel.info-box .panel-body {
    text-align: center;
}

.btn-default1{font-size:12px; padding:2px;color:#fff;}



.fc-row.fc-rigid, .fc-time-grid-event{
    overflow: visible !important;
}
.jobdetails{ font-size:15px;}
.input-group[class*=col-] {
    float:left !important;
    padding-right: 10px !important;
    padding-left: 10px!important;
}
.img-circle{margin:5px;}
.loginlogo{
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
  /* background-color:rgba(96, 125, 139, 0.3); border-radius: 10px; */
}
.loginpading{padding: 0px 8px;}
.logintextcolor{color:#FFF; letter-spacing: 0px!important;}
svg > g > g:last-child { pointer-events: none; }
.emailacordin{color:#5A738E!important;}

.toggle a i {
    font-size: 21px;
    padding-top: 10px;
}

.multiselect-container>li>a>label {
  padding: 4px 20px 3px 20px;
}
.multiselect-container{
 max-height:300px;
  overflow:auto;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;

  top: -3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mainMenu{
  height: 86px;
  text-align: center; 
  padding-top: 25px;
  border: 1px solid rgba(255,255,255,0.1) !important;
}

.mainMenu:hover{
  background: #00000020 !important;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  font-size: 13px;
  padding: 0.25rem 0.25rem;
}

.table td, .table th{
  padding: 0.25rem 0.25rem;
}

table .btn{
  padding: 0 0.75rem !important;
  font-size: 13px;
  line-height: 1.2rem;
}

th span.vert-header{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    max-width: 200px;
    max-height: 200px;
}

.tab_wrapper > ul li.active {
  cursor: default;
}

.tab_wrapper ul .active a {
    cursor: default !important;
}

.custom-control {
  margin-left: 1rem;
}

.gender{
  margin-top: 12px;
}

.sidetab-menu .panel-tabs li a{
  height: 100%;
}

.sidetab-menu .panel-tabs li{
  width: 48%;
}

#picture-modal .modal-body{
  overflow: hidden;
}

#picture-modal .modal-body video{
  width: 100%;
  /*margin-left: -160px;
  margin-top: -40px; */
}

#picture-modal .modal-body #my-camera{
  margin: 25px auto;
  /*border: 1px red dashed;*/
}

#report-page input.from, #report-page input.till{
  width: 80%;
    display: inline-block;
}

#list-date-filter input.from,#list-date-filter input.till{
  display: inline-block;
  width: 25%;
}

#list-date-filter{
  padding-top: 15px;
  padding-bottom: 15px;
}

#list-date-filter{
  z-index: 1;
}

#list-date-filter .date{
    display: inline-block;
    opacity: 0;
    margin-left: -200%;
    z-index: -1;
}

#list-date-filter .date.open{
  margin-left: 1%;
  opacity: 1;
}

.wrap-login100{
  z-index: 9;
}

.dataTables_length label{
    margin-bottom: 8px !important;
}

#report.table th, .text-wrap table th{
  text-transform:  none !important; 
  font-weight: 500;
  max-width: 150px;
}



.float-right-button{
  float: left;
  margin: 6px;
  width: max-content;
  }

  .filter-button{
    margin: 6px;
  }


@media(min-width: 1141px)
{

  .input-filter{
    font-size:  0.6125rem;
  }

  .input-filter input{
    max-width: 100px;
  }

  .float-right-buttons{
    float: right !important;
  }

  .filter-button{   
    font-size: 0.6125rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem; 
  }

  .float-right-button{
    font-size: 0.6125rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;

  }
}

@media(min-width: 1300px)
{

  .input-filter{
    font-size:  0.6825rem;
  }

  .input-filter input{
    max-width: 120px;
  }

  .filter-button{   
    font-size: 0.6825rem;
    padding-left: 0.48rem;
    padding-right: 0.48rem; 
  }
}
@media(min-width: 1445px)
{
.filter-button, .float-right-button{   
    font-size: 0.8125rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem; 
  }

  .input-filter{
    font-size:  0.8125rem;
  }

  .input-filter input{
    max-width: unset;
    font-size:  0.9371rem;
  }


}

#single-page-preview iframe{
  width: 730px;
  transform: scale(2);
  margin-left: 25%;
  margin-top: 14%;
}

#preview-modal .modal-dialog{
  max-width: 1400px;
}

#preview-modal .modal-body .btn.send-to-print {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 10%;
}

#preview-modal .modal-body iframe{
  transform: scale(2);
  margin-left: 26%;
  margin-top: 14%;
  width: 730px;
  border: 0;
}

#tm-modal .modal-dialog{
  max-width: 1024px;
}

#tm-modal .modal-body .btn.send-to-print {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 10%;
}

#tm-modal .modal-body iframe{
  width: 1000px;
  height: 880px;
  border: 0;
}


@media(max-width: 1600px){
  #single-page-preview iframe{
    transform: scale(1.5) !important;
    margin-left: 18% !important;
  }
}

@media(max-width: 1500px){
  #single-page-preview iframe{
    transform: scale(1.4);
    margin-left: 15%;
  }
}

@media(max-width: 1400px){
  #single-page-preview iframe{
    transform: scale(1.2);
    margin-left: 8%;
  }
}

@media(max-width: 1300px){
  #single-page-preview iframe{
    transform: scale(1.1);
    margin-left: 6%;
  }
}

@media(max-width: 1200px){
  #single-page-preview iframe{
    transform: scale(0.95);
    margin-left: -3%;
  }
}

@media print {
  body{
    margin: 20px;
  }

  html{
    font-size: 10px;
  }

}

.modal-body{
  min-height: 550px;
}

.types-row .material-switch > label{
  top: -22px;
}

.customer-category-col .select2-selection{
  padding: 3px 0;
}

  .select2-container{
      max-width: 100%;
  }

  .label-imzo{
    font-size: 1.3rem;
    margin-bottom: 15px; 
  }

  .imzo-warning{
    font-size: 1rem;
  }

  .instruction-table i{
      line-height: 35px !important;
  }